%h4 Exchanges

%table.table.table-sm
  %thead
    %tr
      %th Name
      %th Exchange kind
      %th{:colspan => 2}

  %tbody
    - @exchanges.each do |exchange|
      %tr
        %td= link_to exchange.name, exchange
        %td= exchange.exchange_kind
        %td= link_to 'Edit', edit_exchange_path(exchange), { :class => "btn btn-secondary" }
        %td= link_to 'Destroy', exchange, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-secondary"

%br

= link_to 'New Exchange', new_exchange_path
